/**/

.outer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.number {
  margin-left: auto;
  padding-left: 20px;
}

.plusButton,
.allButton {
  width: 50px;
}

.wrapper > button {
  margin-bottom: 10px;
}

button {
  background-color: white;
}
