@media screen and (min-width: 800px) and (max-width: 1200px) {
  .grid-container {
    max-width: 100%;
  }
}
@media screen and (min-width: 500px) and (max-width: 800px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
}

@media screen and (max-width: 500px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
