/* styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 30px;
  margin-right: 10px;
}

.logo a {
  color: rgba(1, 3, 14, 0.62); /* 設置 "for Developers" 的顏色 */
  font-size: 20px; /* 設置 "for Developers" 的字體大小 */
  text-decoration: none; /* 去掉下劃線 */
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  color: black;
}

.nav-right {
  display: flex;
  align-items: center;
}

.search-bar {
  position: relative;
  margin-right: 10px;
}

.search-bar input {
  padding: 0.5rem;
  height: 36px; /* 設置輸入框的高度 */
  border: 1px solid #ddd;
  border-radius: 4px;
  padding-left: 40px; /* 給圖標留出空間 */
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #888;
  font-size: 20px;
}

.language-selector {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: white;
  color: black;
  border: 1px solid #ddd;
  cursor: pointer;
  font-size: 16px;
  height: 36px;
  padding: 0 12px; /* 調整內邊距 */
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  max-height: 200px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.show {
  display: block;
}

.profile-icon {
  background-color: #34a853;
  color: white;
  border-radius: 50%;
  padding: 0.5rem;
  text-align: center;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
