body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*getDat*/
.numberForm,
form {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
form {
  justify-content: center;
  align-items: center;
}
input,
button {
  padding: 10px;
  margin: 5px;
}
#result {
  margin-top: 20px;
  text-align: center;
}
